
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@font-face {
  font-family: 'Torcing';
  src: url('./assets/fonts/Torcing.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Quicksand';
  src: url('./assets/fonts/Quicksand\ Light.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Nighty';
  src: url('./assets/fonts/Nightydemo-nRjOP.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GrayDesign';
  src: url('./assets/fonts/Gray Design_Light.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Queens';
  src: url('./assets/fonts/QueensTrial-Thin.ttf') format('truetype');
  font-weight: normal;
  font: normal;
}

@font-face {
  font-family: 'Riesling';
  src: url('./assets/fonts/riesling.ttf') format('truetype');
  font-weight: normal;
  font: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HomePage.css */
/* .hero__section {
  background-image: url('https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExd3B1aXl6cGVybnNwemgxd3pyMTF4eG9zMHZtM2lkZ2Y5ZnAycGo1cSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/tsgPJ5y0MrklJWst2N/giphy.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
} */


.swiper-pagination-bullet {
  widows: 12px;
  height: 12px;
  border: 1px solid #181a1e;
  opacity: 100%;
  background: #fff;
}
.swiper-pagination-bullet-active {
  background: #0067ff;
  border: none;
}

.swiper {
  padding-bottom: 70px !important;
}
.swiper-slide.swiper-slide-next {
  background: #0067ff;
  border-radius: 12px;
  box-shadow: 0px 20px 70px rgba(0, 103, 255, 0.3) !important;
}
.swiper-slide.swiper-slide-next h4, .swiper-slide.swiper-slide-next p {
  color: #fff !important;
}
.swiper.pagination {
  top: 90% !important;
}
.sticky__header {
  widows: 100%;
  height: 800px;
  line-height: 80px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99999;
  background: transparent;
  /* box-shadow: 3px 3px -8px 3px #ddd; */
}

.flipbook {
  perspective: 1000px;
  width: 60%;
  height: 500px;
  position: relative;
  margin: 0 auto;
  background-color: #DDC2E1;
  
}

.page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: transform 0.6s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.cover {
  background-color: #f5f5f5;
}

.flipbook .leaf {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s ease;
  transform-origin: left;
  z-index: 2; /* Ensures that pages stack correctly */
}

.flipbook .leaf.turned {
  transform: rotateY(-180deg);
  z-index: 1;
}

.flipbook .page.back {
  transform: rotateY(180deg);
}

.controls {
  text-align: center;
  margin-top: 20px;
}


/* Emotion Gallery */


@media only screen and (max-width:768px) {
  .navigation {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: #00000084;
    display: none;
  }
  .menu {
    width: 15rem;
    height: 100%;
    position: absolute;
    top:0;
    right: 0;
    background: #fff;
    z-index: 200;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 30px;
  }
  .show__menu {
    display: block;
  }
}